.App-header {
  height: 50px !important;
  padding: 10px !important;
}
input[type="text"]{
  width:75em;
  height: 2em;
  margin: 1em;
}
p[id="error"]{
  color: red;
  font-size: 50%;
  justify-self: right;
}
textarea{
  width:75em;
  height: 4em;
  margin: 1em;
}

#loading{
  justify-content: center;
  margin: 0 auto;
}
body {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
